<header>
    <div class="footer">
        <a href="/"><img src="/photos/logo3.png" alt="logo3" class="logo2"></a>
        <a href="https://www.facebook.com"><img src="/photos/facebook.png" alt="facebook" class="social"></a>
        <a href="https://www.instagram.com"><img src="/photos/instagram.png" alt="instagram" class="social"></a>
        <a href="mailto: support@T-Manager.com"><img src="/photos/mail.png" alt="mail" class="social"></a>
        <div class="link">
            &copy;all copy rights saved to Yosi Rozenberg and Asaf Nunu
        </div>
    </div>
</header>