<header>
    <nav>
        <a href="/">T-Manager</a>
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/">Log-In</a></li>
            <li><a href="/">Sing-Up</a></li>
            <li><a href="/">About</a></li>
        </ul>
    </nav>
</header>