<header>
    <nav>
        <a href="/">T-Manager</a>
        <ul>
            <% if (user) { %> 
                <li><a href="/logout">Logout</a></li>
                <li>Welcome, <%= user.email %>  </li>
            <% } else { %>
                <li><a href="/">Home Page</a></li>
                <li><a href="/login">Log-In</a></li>
                <li><a href="/signup">Sing-Up</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/logedin">Logedin</a></li>
            <% } %>
        </ul>
    </nav>
</header>