<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-Manager</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <% if (!user) { %> Please <a href="/login" class="link2">Log-In</a> or <a href="/signup" class="link2">Sing-Up</a>
<%} else { %> 
    
    <%} %>
    <%- body  %>
    <%- include('../partials/footer.ejs')%>
</body>
</html>



