<header>
    <nav>
        <ul>
            <% if (user) { %> 
                <li><a href="/">Home Page</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/events/new">New Event</a></li>
                <li><a href="/about">About</a></li>

            <% } %>
        </ul>
    </nav>
</header>