@import 'shared/fonts.css';
@import 'shared/variables.css';

:root {
    font-family: 'Gill Sans MT Condensed';
    font-size: 22px;
    color: var(--color-text-light);
    --clr: #1b0000;
    --clr-f:  #3d0101;
    --clr-m: #4e1007;
    --clr-t: rgb(212, 123, 123);
}

body {
    margin: 0;
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
    text-align: center;
    display: inline-block;
    width: 100%;
    overflow: auto;
    height: 100%;
    padding-bottom: 10%;
    background-image: url("/photos/back.jpg");
    background-size: cover;
}

.header {
    background-color: var(--clr);
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
    text-align: left top;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
    position: fixed;
    width: 100%;
}

.bg_pic {
    background-image: url("/photos/workout_team.jpeg");
    background-size: cover;
}

.footer {
    position: fixed;
    left: 0%;
    bottom: 0;
    width: 100%;
    background-color: var(--clr-f);
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
    text-align: center;
    display: inline-block;
}

.header2 {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    text-align: center;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
    text-align: center;
}

.link1 {
    background: none;
    border: none;
    text-decoration: none;
    color: rgb(255, 211, 211);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
    text-align: center;
}

.link1:hover {
    color: var(--clr-t);
}

.link:hover {
    color: white;
}

.link2 {
    background: none;
    border: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
    text-align: center;
}

.dropdown:hover .dropdown-button {
    color: white;
}

.dropdown {
    position: relative;
}

.dropdown-menu{
    opacity: 0;
    width: max-content;
    position: absolute;
    pointer-events: none;
    top: calc(100%+ .25rem);
    background-color: var(--clr-m);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.1);
    transition: opacity 300ms ease-in-out, tranform 300ms ease-in-out;
    transform: translateX(-35%);
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.information-grid2 {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.information-grid3 {
    display: grid;
    gap: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.information-grid4 {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 2rem;
    
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.link-head {
    background: none;
    border: none;
    text-decoration: underline;
    color: rgb(214, 214, 214);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.logo {
    width: 250px;
    height: auto;
    object-position: center top;
    margin-top: 3%;
}

.logo2 {
    width: 70px;
    height: auto;
}

.social {
    width: 40px;
    height: auto;
}

h1 {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.8);
}
h2, h3 {
    text-decoration: underline;
    padding: 0%;
    display: contents;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    overflow: hidden;
    width: 100%;
    max-width: 250px;
    font-family: 'Bauhaus 93';
    margin-left: auto;
    margin-right: auto;
}

textarea {
    width: 350px;
    height: 100px;
}

.about {
    color: black;
    background-color: rgba(247, 247, 247, 0.5);
}
.form-button {
    font-family: inherit;
    border: 0;
}

.form-input {
    padding: .5em;
    border: 0;
    font-family: 'Gill Sans MT Condensed';
}

.form-input:focus::placeholder {
    color: var(--clr);
}

.form-button {
    font-family: 'Bauhaus 93';
    background-color: var(--clr-f);
    color: white;
    padding: 0.5em;
}

.form-button2 {
    font-family: 'Bauhaus 93';
    background-color: var(--clr-m);
    color: white;
    padding: 0.5em;
    border: transparent;
}

.form-button2:hover {
    background-color: var(--clr);
}

.form-body {
    min-height: 100hv;
    display: grid;
    place-items: center;
}

.form-button:hover {
    background-color: var(--clr);
}

.form-item {
    display: flex;
    flex-direction: column;
}

.t-view {
    display: block;
    font-size: 120%;
    border: 3px solid;
    width: max-content;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.t-view2 {
    display: block;
    font-size: 120%;
    border: 0px;
    width: max-content;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}


.th-view {
    border: 1px solid;
    width: max-content;
    padding: 1em;
}

.th-view1 {
    border: 1px solid;
    width: max-content;
    padding: 1em;
}

.th-view2 {
    max-width: 250px;
}

.th-view-h {
    border: 2px solid white;
    color: var(--clr-t);
    width: 25%;
    padding: 1em;
    text-decoration: underline;
}

textarea {
    width: 100%;
    font-family: 'Gill Sans MT Condensed';
    font-size: 120%;
}

.tr-table:hover {
    background-color: #3d0101;
}