@import 'shared/fonts.css';
@import 'shared/variables.css';

:root {
    font-family: 'Bauhaus 93';
    font-size: 20px;
    color: var(--color-text-light);
    --clr: #1b0000;
    --clr-f:  #3d0101;
    --clr-m: #4e1007;
}

body {
    margin: 0;
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
    text-align: center;
    display: inline-block;
    width: 100%;
}

.header {
    background-color: var(--clr);
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
    text-align: left top;
}

.bg_pic {
    background-image: url("/photos/workout_team.jpeg");
    background-size: cover;
}

.footer {
    position: fixed;
    left: 0%;
    bottom: 0;
    width: 100%;
    background-color: var(--clr-f);
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
    text-align: center;
    display: inline-block;
}

.header2 {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    text-align: center;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
    text-align: center;
}

.link2 {
    background: none;
    border: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
    text-align: center;
}

.dropdown > .link:focus,
.link:hover{
    color: black;
}

.dropdown {
    position: relative;
}

.dropdown-menu{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: calc(100%+ .25rem);
    background-color: var(--clr-m);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.1);
    transform: translateY(-10px);
    transition: opacity 200ms ease-in-out, tranform 200ms ease-in-out;
}

.dropdown > .link:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(30px);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.information-grid2 {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.information-grid3 {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 0.5rem;
}

.information-grid4 {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 2rem;
    
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.link-head {
    background: none;
    border: none;
    text-decoration: underline;
    color: rgb(214, 214, 214);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.logo {
    width: 250px;
    height: auto;
    object-position: center top;
}

.logo2 {
    width: 70px;
    height: auto;
}

.social {
    width: 40px;
    height: auto;
}

h1 {
    text-decoration: underline;
    color: rgba(26, 113, 245, 0.8);
}
h2 {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    overflow: hidden;
    width: 80%;
    max-width: 250px;
    font-family: 'Bauhaus 93';
}

textarea {
    width: 350px;
    height: 100px;
}

.about {
    color: black;
    font-family: "Times New Roman";
    background-color: rgba(247, 247, 247, 0.5)
}
.form-button,
.form-input {
    font-family: inherit;
    text-align: center;
    border: 0;
}

.form-input {
    padding: .5em;
}

.form-input:focus::placeholder {
    color: var(--clr);
}

.form-button {
    font-family: 'Bauhaus 93';
    background-color: var(--clr-f);
    color: white;
    padding: 0.5em;
}

.form-button2 {
    width: 250px;
}

.form-body {
    min-height: 100hv;
    display: grid;
    place-items: center;
}

.form-body2 {
    max-width: 1000px;
    margin: 0 23%;
}

.form-button:hover {
    background-color: var(--clr-m);
}

.form-item {
    display: flex;
    flex-direction: column;
}
