@font-face {
    font-family: 'Gill Sans MT Condensed';
    src: url('/fonts/GillSansMT-Condensed.woff2') format('woff2'),
        url('/fonts/GillSansMT-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

