<head>
    <title>T-Manager | About</title>
    
</head>
<body  class="bg_pic">
    <h1>About Us</h1>
    <div class="about">
        <p>
            <div>
                First impressions are everything, especially when it comes to creating a website. 
            </div>
            <div>
                The first thing potential customers will want when they visit your site is to understand who you are, what you do, and why you do it.
            </div>
            <div>
                A compelling About Us page is the best way to communicate this information and has the potential to turn website visitors into loyal customers.            
            </div>
        </p>
        <p>
            <div>
                The best About Us pages are informative, stylish and distinguish you from your competitors.
            </div>
            <div>
                When adding an About Us page to your website, you’ll want to include important aspects of your business’s story, 
            </div>
            <div>
                such as when, why and how it started, its mission, and the overall approach to your work. 
            </div>
            <div>
                Your page should also reflect your brand’s style, by employing a tone of voice and design that are unique to its identity.            
            </div>
        </p>
        <p>
            <div>
                While portraying the entire story of your brand on just one page is a challenging task, it’s a worthwhile investment. 
            </div>
            <div>
                That’s why we’ve compiled a list of the best About Us pages created by Wix users to inspire you. 
            </div>
            <div>
                Use these examples to guide you while creating an About Us page that is as outstanding and professional as you are.
            </div>
        </p>
    </div>
</body>
</html>