<head>
    <title>T-Manager | About</title>
    
</head>
<body  class="bg_pic">
    <h1>About Us</h1>
    <div class="about">
        <p>
            <div>
                Welcome to our first website.
            </div>
            <div>
                Made by Yosi Rozenberg and Asaf Nunu.
            </div>
            <div>
                We built this T-Manager site for organization called "Aharai"         
            </div>
        </p>
        <p>
            <div>
                In this site you can add events with kinds of Types.
            </div>
            <div>
                You choose the types but only if you are admin.
            </div>
            <div>
                such as when, why and how it started, its mission, and the overall approach to your work. 
            </div>
            <div>
                Your page should also reflect your brand’s style, by employing a tone of voice and design that are unique to its identity.            
            </div>
        </p>
        <p>
            <div>
                While portraying the entire story of your brand on just one page is a challenging task, it’s a worthwhile investment. 
            </div>
            <div>
                We are so happy you entered out site if you have any quastion you welcome to massage us in socials media in the links below
            </div>
            <div>
                Use these examples to guide you while creating an About Us page that is as outstanding and professional as you are.
            </div>
        </p>
    </div>
</body>
</html>