<h2>New Event Type</h2>
<div  class="form-body">
    <form action="/eventTypes" method="POST" onsubmit="return confirm('Please confrirm');">
            <input type="text" name="name"  value="<%= eventType.name %> " placeholder="Name" class="form-input">
            <button type="submit" class="form-button">Create</button>
            <a href="/eventTypes" class="link">Cancel</a>
    </form>
</div>