<h2>New Event Type</h2>
<div  class="form-body">
    <form action="/eventTypes" method="POST">
            <input type="text" name="name"  value="<%= eventType.name %> " placeholder="Name">
            <button type="submit">Create</button>
    </form>
    <a href="/eventTypes">Cancel</a>
</div>